<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <context:annotation-config/>

    <context:component-scan base-package="org.openiam.idm.srvc"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:datasource.properties</value>
                
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"/>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.bytecode.use_reflection_optimizer">true</prop>
                <prop key="hibernate.cache.use_second_level_cache">false</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <prop key="hibernate.cache.use_query_cache">false</prop>
                <prop key="hibernate.generate_statistics">false</prop>
                <prop key="hibernate.connection.isolation">2</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">create-drop</prop>
                <prop key="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</prop>
                <prop key="hibernate.connection.url">jdbc:hsqldb:mem:testdb;ignorecase=true;get_column_name=true</prop>
                <prop key="hibernate.connection.username">SA</prop>
                <prop key="hibernate.connection.password"/>
            </props>
        </property>
        <property name="mappingResources">
			<list>
				<value>org/openiam/idm/srvc/service/service/Service.hbm.xml</value>
				<value>org/openiam/idm/srvc/service/service/ServiceConfig.hbm.xml</value>
				<value>org/openiam/idm/srvc/service/service/RequestForm.hbm.xml</value>
				<value>org/openiam/idm/srvc/service/service/RequestApprover.hbm.xml</value>
            </list>
        </property>
        <property name="packagesToScan" value="org.openiam.idm.srvc.grp.dto*,
											   org.openiam.idm.srvc.res.dto*,
											   org.openiam.idm.srvc.role.dto*,
											   org.openiam.idm.srvc.user.dto*,
											   org.openiam.idm.srvc.continfo.dto*,
											   org.openiam.am.srvc.resattr.domain*,
											   org.openiam.idm.srvc.org.dto*,
											   org.openiam.idm.srvc.org.domain*,
											   org.openiam.idm.srvc.user.domain*,
											   org.openiam.idm.srvc.continfo.domain*,
											   org.openiam.idm.srvc.pswd.domain*,
											   org.openiam.idm.srvc.res.domain*,
											   org.openiam.idm.srvc.role.domain*,
											   org.openiam.idm.srvc.grp.domain*,
											   org.openiam.idm.srvc.msg.domain*,
											   org.openiam.idm.srvc.report.domain*"/>
    </bean>

    <!--tx begin-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

    <bean id="userDAO" class="org.openiam.idm.srvc.user.service.UserDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
        <!--property name="seqGenDao" ref="seqGenDAO"/-->
        <property name="emailSearchVal" value="EMAIL1"/>
        <property name="phoneSearchVal" value="Desk Phone"/>
        <property name="maxResultSetSize" value="${fetch.size}"/>
        <property name="dbType" value="${openiam.dbType}"/>
    </bean>

    <bean id="userAttributeDAO" class="org.openiam.idm.srvc.user.service.UserAttributeDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userNoteDAO" class="org.openiam.idm.srvc.user.service.UserNoteDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="addressDAO" class="org.openiam.idm.srvc.continfo.service.AddressDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="emailAddressDAO" class="org.openiam.idm.srvc.continfo.service.EmailAddressDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="phoneDAO" class="org.openiam.idm.srvc.continfo.service.PhoneDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="supervisorDAO" class="org.openiam.idm.srvc.user.service.SupervisorDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="seqGenDAO" class="org.openiam.base.id.SequenceGenDAOImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

	<bean id="orgAttrDAO" class="org.openiam.idm.srvc.org.service.OrganizationAttributeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="orgDAO" class="org.openiam.idm.srvc.org.service.OrganizationDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

    <bean id="userAffiliationDAO" class="org.openiam.idm.srvc.org.service.UserAffiliationDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

    <bean id="resourceDAO" class="org.openiam.idm.srvc.res.service.ResourceDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
        <property name="resourceTypeDao" ref="resourceTypeDAO" />
		<property name="resourcePropDao" ref="resourcePropDAO" />
		<property name="resourceRoleDao" ref="resourceRoleDAO" />
	</bean>

    <bean id="resourcePrivilegeDAO" class="org.openiam.idm.srvc.res.service.ResourcePrivilegeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="identityQuestGroupDAO" class="org.openiam.idm.srvc.pswd.service.IdentityQuestGroupDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="identityQuestionDAO" class="org.openiam.idm.srvc.pswd.service.IdentityQuestionDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- <bean id="passwordHistoryDAO" class="org.openiam.idm.srvc.pswd.service.PasswordHistoryDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean> -->
	<bean id="userIdentityAnswerDAO" class="org.openiam.idm.srvc.pswd.service.UserIdentityAnswerDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

    <bean id="resourcePropDAO" class="org.openiam.idm.srvc.res.service.ResourcePropDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

    <bean id="resourceRoleDAO" class="org.openiam.idm.srvc.res.service.ResourceRoleDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

    <bean id="resourceTypeDAO" class="org.openiam.idm.srvc.res.service.ResourceTypeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

    <bean id="resourceUserDAO" class="org.openiam.idm.srvc.res.service.ResourceUserDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

    <bean id="userPrivilegeDAO" class="org.openiam.idm.srvc.res.service.UserPrivilegeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="userRoleDAO" class="org.openiam.idm.srvc.role.service.UserRoleDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="groupDAO" class="org.openiam.idm.srvc.grp.service.GroupDAOImpl" >
		<property name="userDao" ref="userDAO" />
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="maxResultSetSize" value="100" />
    </bean>

    <bean id="roleDAO" class="org.openiam.idm.srvc.role.service.RoleDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="groupDao" ref="groupDAO" />
		<property name="userDao" ref="userDAO" />
    </bean>

    <bean id="groupAttrDAO" class="org.openiam.idm.srvc.grp.service.GroupAttributeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
    </bean>

	<bean id="userGroupDAO" class="org.openiam.idm.srvc.grp.service.UserGroupDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="roleAttributeDAO" class="org.openiam.idm.srvc.role.service.RoleAttributeDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="rolePolicyDAO" class="org.openiam.idm.srvc.role.service.RolePolicyDAOImpl" >
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

    <!-- Email Beans -->
    <bean id="sysMessageDAO" class="org.openiam.idm.srvc.msg.service.NotificationDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="sysMessageService" class="org.openiam.idm.srvc.msg.service.NotificationServiceImpl" >
        <property name="msgDao" ref="sysMessageDAO" />
    </bean>
    <bean id="loginDAO" class="org.openiam.idm.srvc.auth.login.LoginDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
        <property name="dbType" value="${openiam.dbType}" />
    </bean>

    <bean id="sysConfiguration" class="org.openiam.base.SysConfiguration">
        <property name="defaultManagedSysId" value="${openiam.default_managed_sys}" />
        <property name="defaultSecurityDomain" value="${openiam.default_sec_domain}" />
    </bean>

    <bean id="loginAttrDAO" class="org.openiam.idm.srvc.auth.login.LoginAttributeDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="cryptor" class="org.openiam.util.encrypt.DESedeCryptor" >
    </bean>
    <bean id="secDomainService" class="org.openiam.idm.srvc.secdomain.service.SecurityDomainDataServiceImpl" >
        <property name="secDomainDao" ref="secDomainDAO" />
    </bean>

    <bean id="secDomainDAO" class="org.openiam.idm.srvc.secdomain.service.SecurityDomainDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="userManager" class="org.openiam.idm.srvc.user.service.UserMgr" >
        <property name="userDao" ref="userDAO" />
        <property name="userAttributeDao" ref="userAttributeDAO" />
        <property name="userNoteDao" ref="userNoteDAO" />
        <property name="addressDao" ref="addressDAO" />
        <property name="emailAddressDao" ref="emailAddressDAO" />
        <property name="phoneDao" ref="phoneDAO" />
        <property name="supervisorDao" ref="supervisorDAO" />
        <property name="loginDao" ref="loginDAO" />
        <property name="sysConfiguration" ref="sysConfiguration" />
    </bean>
    <bean id="policyDAO" class="org.openiam.idm.srvc.policy.service.PolicyDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="userWS" class="org.openiam.idm.srvc.user.ws.UserDataWebServiceImpl" >
        <property name="userManager" ref="userManager" />
    </bean>

    <bean id="mailSender" class=" org.openiam.idm.srvc.msg.service.MailSender">
        <property name="host" value="${mail.host}" />
        <property name="port" value="${mail.port}" />
        <property name="username" value="${mail.username}" />
        <property name="password" value="${mail.password}" />
        <property name="auth" value="false" />
        <property name="starttls" value="false" />
    </bean>
    <bean id="passwordHistoryDAO" class="org.openiam.idm.srvc.pswd.service.PasswordHistoryDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="policyDefDAO" class="org.openiam.idm.srvc.policy.service.PolicyDefDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="policyDefParamDAO" class="org.openiam.idm.srvc.policy.service.PolicyDefParamDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="policyObjectAssocDAO" class="org.openiam.idm.srvc.policy.service.PolicyObjectAssocDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="policyDataService" class="org.openiam.idm.srvc.policy.service.PolicyDataServiceImpl" >
        <property name="policyDefDao" ref="policyDefDAO" />
        <property name="policyDao" ref="policyDAO" />
        <property name="policyDefParamDao" ref="policyDefParamDAO" />
        <property name="objectAssoc" ref="policyObjectAssocDAO" />
    </bean>

    <bean id="passwordValidator" class="org.openiam.idm.srvc.pswd.rule.PasswordValidatorImpl" >
        <property name="policyDataService" ref="policyDataService" />
        <property name="secDomainService" ref="secDomainService" />
        <property name="userDao" ref="userDAO" />
        <property name="loginDao" ref="loginDAO" />
        <property name="passwordHistoryDao" ref="passwordHistoryDAO" />
        <property name="cryptor" ref="cryptor" />
        <property name="scriptEngine" value="org.openiam.script.GroovyScriptEngineIntegration" />

    </bean>
    <bean id="passwordManager" class="org.openiam.idm.srvc.pswd.service.PasswordServiceImpl" >
        <property name="secDomainService" ref="secDomainService" />
        <property name="passwordValidator" ref="passwordValidator" />
        <property name="userManager" ref="userManager" />
        <property name="loginManager" ref="loginManager" />
        <property name="policyAssocDao" ref="policyObjectAssocDAO" />
        <property name="policyDataService" ref="policyDataService" />
        <property name="cryptor" ref="cryptor" />
        <property name="passwordHistoryDao" ref="passwordHistoryDAO" />
        <property name="hash" ref="hash" />

    </bean>
    <bean id="loginManager" class="org.openiam.idm.srvc.auth.login.LoginDataServiceImpl" >
        <property name="loginDao" ref="loginDAO" />
        <property name="loginAttrDao" ref="loginAttrDAO" />
        <property name="cryptor" ref="cryptor" />
        <property name="secDomainService" ref="secDomainService" />
        <property name="userDao" ref="userDAO" />
        <property name="policyDao" ref="policyDAO" />
        <property name="passwordManager" ref="passwordManager" />
        <property name="passwordHistoryDao" ref="passwordHistoryDAO" />
        <property name="sysConfiguration" ref="sysConfiguration" />
    </bean>
    <bean id="hash" class="org.openiam.util.encrypt.SHA2Hash" >
    </bean>
    <bean id="auditDAO" class="org.openiam.idm.srvc.audit.service.IdmAuditLogDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="auditDataService" class="org.openiam.idm.srvc.audit.service.IdmAuditLogDataServiceImpl" >
        <property name="auditDao" ref="auditDAO" />
        <property name="hash" ref="hash" />

        <property name="loginDS" ref="loginManager" />
        <property name="sysConfiguration" ref="sysConfiguration" />
    </bean>
    <bean id="auditHelper" class="org.openiam.idm.srvc.audit.service.AuditHelperImpl" >
        <property name="auditDataService" ref="auditDataService" />
    </bean>
    <bean id="mailTemplateDAO" class="org.openiam.idm.srvc.msg.service.MailTemplateDAOImpl" >
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="mailTemplateService" class="org.openiam.idm.srvc.msg.service.MailTemplateServiceImpl" >
        <property name="mailTemplateDAO" ref="mailTemplateDAO" />
    </bean>
    <bean id="mailService" class="org.openiam.idm.srvc.msg.service.MailServiceImpl">
        <!-- property name="mailSender" ref="emailSender" / -->
        <property name="mailSender" ref="mailSender" />
        <property name="defaultSender" value="${mail.defaultSender}" />
        <property name="subjectPrefix" value="${mail.defaultSubjectPrefix}" />
        <property name="optionalBccAddress" value="${mail.optionalBccAddress}" />
        <property name="userManager" ref="userWS" />
        <property name="scriptEngine" value="org.openiam.script.GroovyScriptEngineIntegration" />
        <property name="auditHelper" ref="auditHelper" />
        <property name="sysMessageService" ref="sysMessageService" />
    </bean>

    <bean id="emailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}" />
        <property name="port" value="${mail.port}" />
        <property name="username" value="${mail.username}" />
        <property name="password" value="${mail.password}" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">false</prop>
                <prop key="mail.smtp.starttls.enable">false</prop>
            </props>
        </property>

    </bean>



</beans>