Thumbs.db
*.iml
*.ipr
*.iws
target
.project
.idea
/*.sh
.settings
.classpath
/*.log
idm/openiam-selfservice-ext/src/main/resources/datasource.properties
idm/openiam-selfservice-ext/src/main/resources/securityconf.properties