<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>Sitemesh</filter-name>
        <filter-class>org.codehaus.groovy.grails.web.sitemesh.GrailsPageFilter</filter-class>
    </filter>

    <filter>
        <filter-name>GrailsWebRequestFilter</filter-name>
        <filter-class>org.codehaus.groovy.grails.web.servlet.mvc.GrailsWebRequestFilter</filter-class>
    </filter>

    <filter>
        <filter-name>UrlMapping</filter-name>
        <filter-class>org.codehaus.groovy.grails.web.mapping.filter.UrlMappingsFilter</filter-class>
    </filter>

    <filter>
        <filter-name>TokenFilter</filter-name>
        <filter-class>org.openiam.webadmin.filter.SelfServiceAuthFilter</filter-class>
        <init-param>
            <param-name>expirePage</param-name>
            <param-value>/login.selfserve?expire=1</param-value>
        </init-param>
        <init-param>
            <param-name>excludePath</param-name>
            <param-value>/pub</param-value>
        </init-param>
        <init-param>
            <param-name>defaultLang</param-name>
            <param-value>en</param-value>
        </init-param>
        <init-param>
            <param-name>rootMenu</param-name>
            <param-value>SELFSERVICE</param-value>
        </init-param>
        <init-param>
            <param-name>publicLeftMenuGroup</param-name>
            <param-value>BUSINESCENTER</param-value>
        </init-param>
        <init-param>
            <param-name>publicRightMenuGroup1</param-name>
            <param-value>ACCESSCENTER</param-value>
        </init-param>
        <init-param>
            <param-name>publicRightMenuGroup2</param-name>
            <param-value>SELFCENTER</param-value>
        </init-param>
        <init-param>
            <param-name>publicRightMenuGroup3</param-name>
            <param-value>REPORTCENTER</param-value>
        </init-param>
        <init-param>
            <param-name>leftMenuGroup</param-name>
            <param-value>BUSINESCENTER</param-value>
        </init-param>
        <init-param>
            <param-name>rightMenuGroup1</param-name>
            <param-value>ACCESSCENTER</param-value>
        </init-param>
        <init-param>
            <param-name>rightMenuGroup2</param-name>
            <param-value>SELFCENTER</param-value>
        </init-param>
        <init-param>
            <param-name>rightMenuGroup3</param-name>
            <param-value>REPORTCENTER</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>GrailsWebRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>Sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlMapping</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TokenFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.codehaus.groovy.grails.web.context.GrailsContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>



    <servlet>
        <servlet-name>gsp</servlet-name>
        <servlet-class>org.codehaus.groovy.grails.web.pages.GroovyPagesServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>SpringMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/servlet-context.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>gsp</servlet-name>
        <url-pattern>*.gsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpringMVC</servlet-name>
        <url-pattern>*.jsp</url-pattern>
    </servlet-mapping>


</web-app>
