.clear-both {clear:both;}
a,.ui-state-hover a {color: #5D5B5D;}
a:hover {color:  #4BB848 !important;}
#ajaxLoadingContainer{left:0;top:0;bottom: 0;right:0;background-color:transparent;z-index: 9999;position: fixed;}
#ajaxLoading {width: 100px;height: 32px;padding: 5px 0 5px 45px;background: url(../img/ajax-loader.gif) #f6f6f6 5px 5px no-repeat;position: fixed;
  			  left: 45%;top: 0;opacity: 0.8;-moz-opacity: .8;filter: progid:   DXImageTransform.Microsoft.Alpha(   opacity=   80 );
  			  -ms-filter: "alpha(opacity=80)";filter: alpha(opacity =   80);z-index: 10000;}
#ajaxLoadingText {color: #525252;display: block;font-weight: bold;margin-right: 10px;padding: 7px 0;text-align: left;}

/**
 * 	FORMS
 */
.form-actions{padding: 0;background-color: transparent;border-top:1px none;}
form label.required:after{
	content:"*";
	color:red;
} 
.form-inline label{padding-top: 5px;}
.control-group label {color: #595959;font-size: 14px;font-weight: bold;}
/**
 * 	COMMON CSS 
 */
#openiam-container{min-width: 980px;}
	.container-inner{min-height: 650px;width: 100%;}
		.header{background: none repeat scroll 0 0 white;height: 120px;margin-bottom: 10px;position: relative;}
			.header .header-container{border-bottom: 1.5px solid #74A824;margin-left: auto;padding-bottom: 1px;padding-top: 85px;width: 100%;}
				.header .header-container #logoContainer {left: 35px;position: absolute;top: 15px;z-index: 1003;height: 68px;
    																					position: absolute;width: 252px;
    																					background: url("../img/openiamlogo.jpg") no-repeat transparent;}
    .row{width: 100%;margin-bottom:20px;background: none repeat scroll 0 0 transparent;}																					
			.row:after{clear: both;content: "";display: table;}


#loginForm{margin: 0 auto;float: none;}
	#loginForm fieldset{border: 1px solid #74A824;padding: 10px;}
	
	
	
	



